<!DOCTYPE html>
<html>
<body>
<h3>bibliography management system</h3>
<form action="/addEntry">
  Author <input type="text" name="author"/><br/>
  Title <input type="text" name="title"/><br/>
  Year <input type="text" name="year"/><br/>
  Journal <input type="text" name="journal"/><br/>
  <input type="submit" value="Add"/>
</form> 

<p>Bibliography</p>
<ol>
    <li th:each="ent : ${entries}" 
    th:text="${ent.author}+', '+${ent.title}+', '+${ent.journal}+', '+${ent.year}+'.'"></li>
</ol>

</body>
</html>